In [62]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [5]:
headers = {"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36"} 
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers=headers).text

In [6]:
soup = BeautifulSoup(webpage, 'lxml')

In [72]:
#print(soup.prettify())

In [14]:
soup.findAll('h1')[0].text

'List of companies in India'

In [18]:
for i in soup.findAll('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
ICICI Bank
HDFC Bank
Infosys
Wipro
Capgemini
Tech Mahindra
Genpact
HCL Technologies
Axis Bank
Amazon
IBM
Concentrix Corpo...
Larsen & Toubro ...
Reliance jio
Vodafone Idea
HDB Financial Se...
Teleperformance
Kotak Mahindra B...
Bharti Airtel
Reliance Industr...
Deloitte
Tata Motors
Reliance Retail
WNS
Mahindra & Mahin...
IndusInd Bank
Flipkart

In [71]:
#soup.findAll('a', class_='review-count')

In [24]:
company = soup.findAll('div', class_='company-content-wrapper')

In [25]:
len(company)

30

In [70]:
name = []
rating =[]
reviews=[]
ctype=[]
hq=[]
old=[]
employees=[]
final=pd.DataFrame()
headers = {"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36"} 

for k in range(1,11):
    webpage = requests.get(f'https://www.ambitionbox.com/list-of-companies?page={k}', headers=headers).text
    soup = BeautifulSoup(webpage, 'lxml')
    company = soup.findAll('div', class_='company-content-wrapper')
    
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p', class_='rating').text.strip())
        reviews.append(i.find('a', class_='review-count').text.strip())
        info = i.find_all('p', class_='infoEntity')
        try:
            ctype.append(info[0].text.strip())
        except:
            ctype.append(np.nan)
        try:
            hq.append(info[1].text.strip())
        except:
            hq.append(np.nan)
        try:
            old.append(info[2].text.strip())
        except:
            old.append(np.nan)
        try:
            employees.append(info[3].text.strip())
        except:
            employees.append(np.nan)
        

    d = {'name':name, 'rating':rating, 'reviews':reviews, 'ctype':ctype,
    'hq':hq, 'old':old, 'employees':employees}

    df=pd.DataFrame(d)

    final = final.append(df)
final

,name,rating,reviews,ctype,hq,old,employees
0,TCS,3.9,(45.3k Reviews),Public,"Mumbai,Maharashtra + 261 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.2,(30.5k Reviews),Public,Dublin + 140 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,4.0,(27.5k Reviews),Private,Teaneck. New Jersey. + 94 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(33.1k Reviews),Public,"Mumbai,Maharashtra + 1027 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(37.2k Reviews),Public,"Mumbai,Maharashtra + 1180 more",28 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...,...
295,PepsiCo,4.2,(1.5k Reviews),Private,"Harrison,New York + 174 more",33 years old,1 Lakh+ Employees (India)
296,NIIT Technologie...,3.5,(1.4k Reviews),Public,"Noida,Uttar Pradesh + 77 more",18 years old,5k-10k Employees (India)
297,Statestreet HCL ...,3.4,(1.4k Reviews),Private,New Delhi + 10 more,10 years old,5k-10k Employees (India)
298,Poonawalla Finco...,4.1,(1.7k Reviews),Public,"Mumbai,Maharashtra + 244 more",34 years old,5k-10k Employees (India)
299,Birlasoft,3.8,(1.4k Reviews),Public,"Pune,Maharashtra + 23 more",27 years old,10k-50k Employees (India)